.Lox {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 15rem;
    padding-top: 30rem;
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: center;
    margin-bottom: 15rem;
}

.LoxText {
    width: 90%;
    font-size: 5.7rem;
    padding: 1rem;
    font-family: 'ITC Avant Garde Gothic';
    font-weight: 300;
    overflow: hidden;
    color: white;
    line-height: 7.4rem;
}

.setTrend {
    color: #EF590E;
    font-family: 'EB Garamond', serif;
    font-style: italic;
    font-weight: 500;
    font-size: 7.3rem;
}

.results {
    color: #AAC2F9;
    font-family: 'EB Garamond', serif;
    font-style: italic;
    font-size: 7.3rem;
    font-weight: 500;
   
    
    
}

.fearless {
    color: rgb(130, 135, 6);
    font-family: 'EB Garamond', serif;
    font-style: italic;
    font-weight: 500;
    font-size: 7.3rem;
}

.creativity {
    color: rgb(117, 163, 144);
    font-family: 'EB Garamond', serif;
    font-style: italic;
    font-weight: 500;
    font-size: 7.3rem;
    }
.icons {
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.textLine {
    overflow: hidden;


}

.lineParent {
    overflow: hidden; /* Ensures the line container doesn't show overflow */
}

.lineChildren {
    transform: translateY(100px); /*Start 100px below the normal position*/
    opacity: 0; /* Make the text invisible at first */
    transition: transform 1s ease-out, opacity 1s ease-out; /* Smooth transition for transform and opacity*/
}