*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Avant Garde Gothic';
    src: url('../../assets/fonts/AvantGardeCE-Demi.woff2') format('woff2'),
        url('../../assets/fonts/AvantGardeCE-Demi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ITC Avant Garde Gothic';
    src: url('../src/assets/fonts/AvantGardeCE-Book.woff2') format('woff2'),
        url('../src/assets/fonts/AvantGardeCE-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    font-size: calc(100vw / 1728 * 10);
}

body {
    font-size: clamp(16px, 1.6rem, 1.6rem);
    font-family: "Matter Regular", sans-serif;

    font-style: normal;
    font-variation-settings: "ital" 0, "wght" 400;
    background-color: white;
    color: black;
    min-height: 100vh;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    letter-spacing: -0.03em;
}

[data-hidden] {
    opacity: 0;
}

h1 {
    font-size: 7rem;
    font-weight: 900;
    letter-spacing: -0.03em;
}

